option_settings:
  aws:elasticbeanstalk:application:environment:
    PARSE_MOUNT: "/parse"
    APP_ID: "kd8372nxmzms2k2827dhdj"
    MASTER_KEY: "82jsmzla01928sjajshdgf"
    DATABASE_URI: "mongodb://heroku_5zwzpfhp:udrgaec74hulbc0ee4rj2222fb@ds047672.mlab.com:47672/heroku_5zwzpfhp"
    NODE_ENV: "production"

  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
